openapi: 3.0.3
info:
  title: KoproGo API
  description: '**KoproGo** - Plateforme SaaS de gestion de copropriété


    API REST pour la gestion complète de copropriétés belges avec :

    - Plan Comptable Minimum Normalisé (PCMN) belge

    - Workflow d''approbation des factures

    - Relances de paiement automatisées

    - Multi-propriétaires et multi-rôles

    - Conformité GDPR (Articles 15, 16, 17, 20, 30)

    - Monitoring et métriques Prometheus


    **Stack**: Rust + Actix-web + PostgreSQL 15 + Astro + Svelte


    **Performance**:

    - Latence P99: < 752ms

    - Throughput: 287 req/s

    - CO2/requête: 0.12g


    **Architecture**: Hexagonal (Ports & Adapters) + Domain-Driven Design (DDD)


    **Documentation complète**: https://docs.koprogo.com

    '
  version: 1.0.0
  contact:
    name: KoproGo Support
    email: support@koprogo.com
    url: https://koprogo.com
  license:
    name: AGPL-3.0-or-later
    url: https://www.gnu.org/licenses/agpl-3.0.html
servers:
- url: https://api.koprogo.com/api/v1
  description: Production server
- url: https://staging.koprogo.com/api/v1
  description: Staging server
- url: http://localhost:8080/api/v1
  description: Local development server
tags:
- name: Authentication
  description: Authentication and authorization endpoints
- name: Buildings
  description: Building management
- name: Units
  description: Unit (apartment) management
- name: Owners
  description: Owner management
- name: Unit Owners
  description: Unit-owner relationships (multi-ownership)
- name: Expenses
  description: Expense and invoice management
- name: Accounts
  description: Belgian PCMN accounting
- name: Financial Reports
  description: Financial reporting (balance sheet, income statement)
- name: Payment Reminders
  description: Automated payment recovery workflow
- name: Meetings
  description: General assembly management
- name: Documents
  description: Document storage and management
- name: GDPR
  description: GDPR compliance endpoints
- name: Health
  description: Health check and monitoring
- name: Notifications
- name: Payment Methods
- name: Payments
- name: Tickets
- name: Board
- name: Convocations
- name: Polls
- name: Quotes
- name: Resolutions
- name: Bookings
- name: Energy
- name: Gamification
- name: Local Exchanges
- name: Notices
- name: Sharing
- name: Skills
- name: 2FA
- name: Budgets
- name: Call for Funds
- name: Charge Distribution
- name: Contributions
- name: Dashboard
- name: Etats Dates
- name: Journal Entries
- name: Organizations
- name: Users
- name: IoT
  description: IoT smart meter readings and Linky device management
- name: Contractor Reports
  description: Contractor work reports with magic-link PWA access
- name: Technical Inspections
  description: Mandatory technical inspection records
- name: Work Reports
  description: Digital maintenance logbook entries
- name: AGE Requests
  description: Extraordinary General Assembly requests (Art. 3.87 §2 CC)
- name: AG Sessions
  description: Video conference sessions for General Assemblies (Art. 3.87 §1 CC)
- name: Statistics
  description: Dashboard statistics for SuperAdmin, Syndic, and Owner roles
- name: Admin GDPR
  description: SuperAdmin GDPR compliance — audit logs, data export, erasure
- name: PCN
  description: PCN accounting report generation (JSON, PDF, Excel)
- name: Seeds
  description: Demo data seeding and clearing (SuperAdmin only)
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT token obtained from `/auth/login` endpoint.

        Include in header: `Authorization: Bearer <token>`

        '
  schemas:
    LoginRequest:
      type: object
      required:
      - email
      - password
      properties:
        email:
          type: string
          format: email
          example: syndic@example.com
        password:
          type: string
          format: password
          example: secure_password_123
    LoginResponse:
      type: object
      properties:
        access_token:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        refresh_token:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
          description: Token expiration in seconds
          example: 3600
        roles:
          type: array
          items:
            $ref: '#/components/schemas/UserRole'
        active_role:
          type: string
          format: uuid
    UserRole:
      type: object
      properties:
        role_id:
          type: string
          format: uuid
        role_type:
          type: string
          enum:
          - Owner
          - Syndic
          - Accountant
          - BoardMember
          - SuperAdmin
        organization_id:
          type: string
          format: uuid
        organization_name:
          type: string
    SwitchRoleRequest:
      type: object
      required:
      - role_id
      properties:
        role_id:
          type: string
          format: uuid
    Building:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: Résidence Les Érables
        address:
          type: string
          example: 123 Avenue de Tervuren, 1040 Bruxelles
        total_units:
          type: integer
          minimum: 1
          example: 24
        construction_year:
          type: integer
          minimum: 1800
          maximum: 2100
          example: 1985
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    CreateBuildingRequest:
      type: object
      required:
      - name
      - address
      - total_units
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        address:
          type: string
          minLength: 1
          maxLength: 500
        total_units:
          type: integer
          minimum: 1
        construction_year:
          type: integer
          minimum: 1800
          maximum: 2100
    Unit:
      type: object
      properties:
        id:
          type: string
          format: uuid
        building_id:
          type: string
          format: uuid
        unit_number:
          type: string
          example: 2B
        floor:
          type: integer
          example: 2
        area:
          type: number
          format: double
          description: Area in square meters
          example: 85.5
        type:
          type: string
          enum:
          - Apartment
          - Commercial
          - Parking
          - Storage
          - Other
          example: Apartment
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    CreateUnitRequest:
      type: object
      required:
      - building_id
      - unit_number
      properties:
        building_id:
          type: string
          format: uuid
        unit_number:
          type: string
          minLength: 1
        floor:
          type: integer
        area:
          type: number
          format: double
          minimum: 0
        type:
          type: string
          enum:
          - Apartment
          - Commercial
          - Parking
          - Storage
          - Other
    Owner:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: Jean Dupont
        email:
          type: string
          format: email
          example: jean.dupont@example.com
        phone:
          type: string
          example: +32 2 123 45 67
        address:
          type: string
          example: 123 Avenue de Tervuren, 1040 Bruxelles
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    CreateOwnerRequest:
      type: object
      required:
      - name
      - email
      properties:
        name:
          type: string
          minLength: 1
        email:
          type: string
          format: email
        phone:
          type: string
        address:
          type: string
    UnitOwner:
      type: object
      properties:
        id:
          type: string
          format: uuid
        unit_id:
          type: string
          format: uuid
        owner_id:
          type: string
          format: uuid
        ownership_percentage:
          type: number
          format: double
          minimum: 0
          maximum: 1
          description: Ownership percentage (0.0 to 1.0)
          example: 0.5
        start_date:
          type: string
          format: date-time
        end_date:
          type: string
          format: date-time
          nullable: true
        is_primary_contact:
          type: boolean
          example: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    AddOwnerToUnitRequest:
      type: object
      required:
      - owner_id
      - ownership_percentage
      properties:
        owner_id:
          type: string
          format: uuid
        ownership_percentage:
          type: number
          format: double
          minimum: 0
          maximum: 1
          example: 0.5
        is_primary_contact:
          type: boolean
          default: false
    TransferOwnershipRequest:
      type: object
      required:
      - from_owner_id
      - to_owner_id
      properties:
        from_owner_id:
          type: string
          format: uuid
        to_owner_id:
          type: string
          format: uuid
    Expense:
      type: object
      properties:
        id:
          type: string
          format: uuid
        building_id:
          type: string
          format: uuid
        description:
          type: string
          example: Réparation ascenseur - Maintenance annuelle
        amount:
          type: number
          format: double
          example: 1250.0
        expense_date:
          type: string
          format: date
          example: '2025-11-10'
        category:
          type: string
          enum:
          - Maintenance
          - Utilities
          - Insurance
          - ManagementFees
          - Repairs
          - Improvements
          - Legal
          - Other
          example: Maintenance
        status:
          type: string
          enum:
          - Draft
          - PendingApproval
          - Approved
          - Rejected
          - Paid
          example: Approved
        rejection_reason:
          type: string
          nullable: true
        paid:
          type: boolean
          default: false
        line_items:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceLineItem'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    InvoiceLineItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        description:
          type: string
          example: Main d'œuvre technicien
        quantity:
          type: number
          format: double
          example: 4.0
        unit_price:
          type: number
          format: double
          example: 75.0
        vat_rate:
          type: number
          format: double
          enum:
          - 0.06
          - 0.12
          - 0.21
          description: Belgian VAT rates (6%, 12%, 21%)
          example: 0.21
        total_excl_vat:
          type: number
          format: double
          example: 300.0
        vat_amount:
          type: number
          format: double
          example: 63.0
        total_incl_vat:
          type: number
          format: double
          example: 363.0
    CreateExpenseRequest:
      type: object
      required:
      - building_id
      - description
      - amount
      - expense_date
      - category
      properties:
        building_id:
          type: string
          format: uuid
        description:
          type: string
        amount:
          type: number
          format: double
          minimum: 0
        expense_date:
          type: string
          format: date
        category:
          type: string
          enum:
          - Maintenance
          - Utilities
          - Insurance
          - ManagementFees
          - Repairs
          - Improvements
          - Legal
          - Other
        status:
          type: string
          enum:
          - Draft
          - PendingApproval
          - Approved
          - Rejected
          default: Draft
    Account:
      type: object
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
          example: '451000'
          description: PCMN account code
        name:
          type: string
          example: TVA à récupérer
        account_type:
          type: string
          enum:
          - Asset
          - Liability
          - Equity
          - Income
          - Expense
          - OffBalance
          example: Asset
        parent_code:
          type: string
          nullable: true
          example: '45'
        organization_id:
          type: string
          format: uuid
        is_active:
          type: boolean
          default: true
        created_at:
          type: string
          format: date-time
    CreateAccountRequest:
      type: object
      required:
      - code
      - name
      - account_type
      properties:
        code:
          type: string
          pattern: ^\d{2,6}$
        name:
          type: string
        account_type:
          type: string
          enum:
          - Asset
          - Liability
          - Equity
          - Income
          - Expense
          - OffBalance
        parent_code:
          type: string
          nullable: true
    BalanceSheet:
      type: object
      properties:
        period:
          type: string
          example: '2025'
        assets:
          type: object
          properties:
            fixed_assets:
              type: object
              properties:
                buildings:
                  type: number
                  format: double
                equipment:
                  type: number
                  format: double
                total:
                  type: number
                  format: double
            current_assets:
              type: object
              properties:
                receivables:
                  type: number
                  format: double
                bank:
                  type: number
                  format: double
                cash:
                  type: number
                  format: double
                total:
                  type: number
                  format: double
            total_assets:
              type: number
              format: double
        liabilities:
          type: object
          properties:
            equity:
              type: object
            long_term_liabilities:
              type: object
            current_liabilities:
              type: object
            total_liabilities:
              type: number
              format: double
        balance_check:
          type: object
          properties:
            assets:
              type: number
              format: double
            liabilities:
              type: number
              format: double
            difference:
              type: number
              format: double
            balanced:
              type: boolean
    IncomeStatement:
      type: object
      properties:
        period:
          type: string
          example: 2025-Q4
        income:
          type: object
          properties:
            rental_charges:
              type: number
              format: double
            other_income:
              type: number
              format: double
            total_income:
              type: number
              format: double
        expenses:
          type: object
          properties:
            property_expenses:
              type: number
              format: double
            utilities:
              type: number
              format: double
            maintenance:
              type: number
              format: double
            management_fees:
              type: number
              format: double
            insurance:
              type: number
              format: double
            other_expenses:
              type: number
              format: double
            total_expenses:
              type: number
              format: double
        operating_result:
          type: number
          format: double
        financial_result:
          type: number
          format: double
        net_result:
          type: number
          format: double
    PaymentReminder:
      type: object
      properties:
        id:
          type: string
          format: uuid
        expense_id:
          type: string
          format: uuid
        owner_id:
          type: string
          format: uuid
        reminder_level:
          type: string
          enum:
          - Gentle
          - Formal
          - FinalNotice
          - LegalAction
          description: '- Gentle: D+15, friendly reminder

            - Formal: D+30, formal notice

            - FinalNotice: D+45, final warning with penalties

            - LegalAction: D+60, legal proceedings

            '
          example: Gentle
        message:
          type: string
        sent_date:
          type: string
          format: date-time
          nullable: true
        tracking_number:
          type: string
          nullable: true
        late_payment_penalty:
          type: number
          format: double
          description: Calculated Belgian late payment penalty (8% annual)
          example: 13.15
        notes:
          type: string
        created_at:
          type: string
          format: date-time
    CreatePaymentReminderRequest:
      type: object
      required:
      - expense_id
      - owner_id
      - reminder_level
      properties:
        expense_id:
          type: string
          format: uuid
        owner_id:
          type: string
          format: uuid
        reminder_level:
          type: string
          enum:
          - Gentle
          - Formal
          - FinalNotice
          - LegalAction
        message:
          type: string
    Meeting:
      type: object
      properties:
        id:
          type: string
          format: uuid
        building_id:
          type: string
          format: uuid
        meeting_type:
          type: string
          enum:
          - GeneralAssembly
          - BoardMeeting
          - ExtraordinaryAssembly
          example: GeneralAssembly
        scheduled_date:
          type: string
          format: date-time
        location:
          type: string
          example: Salle communautaire - Rez-de-chaussée
        agenda:
          type: string
        minutes:
          type: string
          nullable: true
        status:
          type: string
          enum:
          - Scheduled
          - Completed
          - Cancelled
          default: Scheduled
        created_at:
          type: string
          format: date-time
    CreateMeetingRequest:
      type: object
      required:
      - building_id
      - meeting_type
      - scheduled_date
      properties:
        building_id:
          type: string
          format: uuid
        meeting_type:
          type: string
          enum:
          - GeneralAssembly
          - BoardMeeting
          - ExtraordinaryAssembly
        scheduled_date:
          type: string
          format: date-time
        location:
          type: string
        agenda:
          type: string
    Document:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
          example: Convocation AG - 15 décembre 2025
        document_type:
          type: string
          enum:
          - Invoice
          - Contract
          - MeetingInvitation
          - MeetingMinutes
          - InsurancePolicy
          - MaintenanceReport
          - FinancialReport
          - Other
          example: MeetingInvitation
        file_path:
          type: string
          example: /uploads/convocation-ag-2025-12.pdf
        building_id:
          type: string
          format: uuid
          nullable: true
        expense_id:
          type: string
          format: uuid
          nullable: true
        meeting_id:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
    CreateDocumentRequest:
      type: object
      required:
      - title
      - document_type
      - file_path
      properties:
        title:
          type: string
        document_type:
          type: string
          enum:
          - Invoice
          - Contract
          - MeetingInvitation
          - MeetingMinutes
          - InsurancePolicy
          - MaintenanceReport
          - FinancialReport
          - Other
        file_path:
          type: string
        building_id:
          type: string
          format: uuid
        expense_id:
          type: string
          format: uuid
        meeting_id:
          type: string
          format: uuid
    Error:
      type: object
      properties:
        error:
          type: string
          example: Resource not found
        code:
          type: string
          example: NOT_FOUND
        details:
          type: object
    HealthCheck:
      type: object
      properties:
        status:
          type: string
          example: healthy
        version:
          type: string
          example: 1.0.0
        database:
          type: string
          example: connected
        uptime_seconds:
          type: integer
          example: 86400
    PaymentResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organization_id:
          type: string
          format: uuid
        building_id:
          type: string
          format: uuid
        owner_id:
          type: string
          format: uuid
        expense_id:
          type: string
          format: uuid
          nullable: true
        amount_cents:
          type: integer
          format: int64
          description: Montant en centimes EUR
        currency:
          type: string
          example: EUR
        status:
          type: string
          enum:
          - Pending
          - Processing
          - RequiresAction
          - Succeeded
          - Failed
          - Cancelled
          - Refunded
        payment_method_type:
          type: string
          enum:
          - Card
          - SepaDebit
          - BankTransfer
          - Cash
        stripe_payment_intent_id:
          type: string
          nullable: true
        stripe_customer_id:
          type: string
          nullable: true
        payment_method_id:
          type: string
          format: uuid
          nullable: true
        idempotency_key:
          type: string
        description:
          type: string
          nullable: true
        metadata:
          type: string
          nullable: true
        failure_reason:
          type: string
          nullable: true
        refunded_amount_cents:
          type: integer
          format: int64
        net_amount_cents:
          type: integer
          format: int64
          description: amount_cents - refunded_amount_cents
        succeeded_at:
          type: string
          format: date-time
          nullable: true
        failed_at:
          type: string
          format: date-time
          nullable: true
        cancelled_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    PaymentStatsResponse:
      type: object
      properties:
        total_count:
          type: integer
          format: int64
        succeeded_count:
          type: integer
          format: int64
        failed_count:
          type: integer
          format: int64
        pending_count:
          type: integer
          format: int64
        total_amount_cents:
          type: integer
          format: int64
        total_succeeded_cents:
          type: integer
          format: int64
        total_refunded_cents:
          type: integer
          format: int64
        net_amount_cents:
          type: integer
          format: int64
    PaymentMethodResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organization_id:
          type: string
          format: uuid
        owner_id:
          type: string
          format: uuid
        method_type:
          type: string
          enum:
          - Card
          - SepaDebit
        stripe_payment_method_id:
          type: string
        stripe_customer_id:
          type: string
        display_label:
          type: string
          example: Visa ****4242
        is_default:
          type: boolean
        is_active:
          type: boolean
        metadata:
          type: string
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true
        is_expired:
          type: boolean
          description: Calculé depuis expires_at
        is_usable:
          type: boolean
          description: is_active && !is_expired
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    TicketResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organization_id:
          type: string
          format: uuid
        building_id:
          type: string
          format: uuid
        unit_id:
          type: string
          format: uuid
          nullable: true
        created_by:
          type: string
          format: uuid
        assigned_to:
          type: string
          format: uuid
          nullable: true
        title:
          type: string
        description:
          type: string
        category:
          type: string
          enum:
          - Plumbing
          - Electrical
          - Heating
          - Cleaning
          - Security
          - General
          - Emergency
        priority:
          type: string
          enum:
          - Low
          - Medium
          - High
          - Urgent
          - Critical
        status:
          type: string
          enum:
          - Open
          - InProgress
          - Resolved
          - Closed
          - Cancelled
        resolution_notes:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        resolved_at:
          type: string
          format: date-time
          nullable: true
        closed_at:
          type: string
          format: date-time
          nullable: true
    NotificationResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organization_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        notification_type:
          type: string
          enum:
          - ExpenseCreated
          - MeetingConvocation
          - PaymentReceived
          - TicketResolved
          - DocumentAdded
          - BoardMessage
          - PaymentReminder
          - BudgetApproved
          - ResolutionVote
          - System
        channel:
          type: string
          enum:
          - Email
          - Sms
          - Push
          - InApp
        priority:
          type: string
          enum:
          - Low
          - Normal
          - High
          - Urgent
        status:
          type: string
          enum:
          - Pending
          - Sent
          - Delivered
          - Failed
        title:
          type: string
        message:
          type: string
        link_url:
          type: string
          nullable: true
        metadata:
          type: string
          nullable: true
        sent_at:
          type: string
          format: date-time
          nullable: true
        read_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        error_message:
          type: string
          nullable: true
    NotificationPreferenceResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        notification_type:
          type: string
        email_enabled:
          type: boolean
        in_app_enabled:
          type: boolean
        push_enabled:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    GdprExportResponse:
      type: object
      properties:
        export_date:
          type: string
          format: date-time
        user:
          type: object
          properties:
            id:
              type: string
              format: uuid
            email:
              type: string
            first_name:
              type: string
            last_name:
              type: string
            organization_id:
              type: string
              format: uuid
              nullable: true
            is_active:
              type: boolean
            is_anonymized:
              type: boolean
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
        owners:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              organization_id:
                type: string
              first_name:
                type: string
              last_name:
                type: string
              email:
                type: string
                nullable: true
              phone:
                type: string
                nullable: true
              address:
                type: string
                nullable: true
              city:
                type: string
                nullable: true
              postal_code:
                type: string
                nullable: true
              country:
                type: string
                nullable: true
              is_anonymized:
                type: boolean
              created_at:
                type: string
              updated_at:
                type: string
        units:
          type: array
          items:
            type: object
            properties:
              building_name:
                type: string
              building_address:
                type: string
              unit_number:
                type: string
              floor:
                type: integer
                nullable: true
              ownership_percentage:
                type: number
                format: double
              start_date:
                type: string
              end_date:
                type: string
                nullable: true
              is_primary_contact:
                type: boolean
        expenses:
          type: array
          items:
            type: object
            properties:
              description:
                type: string
              amount:
                type: number
                format: double
              due_date:
                type: string
              paid:
                type: boolean
              building_name:
                type: string
        documents:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
              document_type:
                type: string
              uploaded_at:
                type: string
              building_name:
                type: string
                nullable: true
        meetings:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
              meeting_date:
                type: string
              agenda:
                type: string
                nullable: true
              building_name:
                type: string
        total_items:
          type: integer
    GdprEraseResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        anonymized_at:
          type: string
          format: date-time
        user_id:
          type: string
          format: uuid
        user_email:
          type: string
        user_first_name:
          type: string
        user_last_name:
          type: string
        owners_anonymized:
          type: integer
    GdprActionResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        updated_at:
          type: string
          format: date-time
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error message
    CreateResolutionRequest:
      type: object
      required:
      - meeting_id
      - title
      - description
      - resolution_type
      - majority_required
      properties:
        meeting_id:
          type: string
          format: uuid
        title:
          type: string
          example: Approbation des comptes annuels
        description:
          type: string
          example: Approbation des comptes de l'exercice 2025
        resolution_type:
          type: string
          enum:
          - Ordinary
          - Extraordinary
          - Special
          description: Type of resolution
        majority_required:
          type: string
          enum:
          - Simple
          - Absolute
          - Qualified
          description: Majority type required for adoption
    ResolutionResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        meeting_id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        resolution_type:
          type: string
        majority_required:
          type: string
        vote_count_pour:
          type: integer
        vote_count_contre:
          type: integer
        vote_count_abstention:
          type: integer
        total_voting_power_pour:
          type: number
          format: double
        total_voting_power_contre:
          type: number
          format: double
        total_voting_power_abstention:
          type: number
          format: double
        status:
          type: string
          enum:
          - Pending
          - Adopted
          - Rejected
        created_at:
          type: string
          format: date-time
        voted_at:
          type: string
          format: date-time
          nullable: true
        total_votes:
          type: integer
          description: Computed total of all votes
        pour_percentage:
          type: number
          format: double
        contre_percentage:
          type: number
          format: double
        abstention_percentage:
          type: number
          format: double
    CastVoteRequest:
      type: object
      required:
      - owner_id
      - unit_id
      - vote_choice
      - voting_power
      properties:
        owner_id:
          type: string
          format: uuid
        unit_id:
          type: string
          format: uuid
        vote_choice:
          type: string
          enum:
          - Pour
          - Contre
          - Abstention
        voting_power:
          type: number
          format: double
          description: Voting power in milliemes (0-1000)
          example: 150.0
        proxy_owner_id:
          type: string
          format: uuid
          nullable: true
          description: Owner ID of the proxy voter (if proxy vote)
    ChangeVoteRequest:
      type: object
      required:
      - vote_choice
      properties:
        vote_choice:
          type: string
          enum:
          - Pour
          - Contre
          - Abstention
    CloseVotingRequest:
      type: object
      required:
      - total_voting_power
      properties:
        total_voting_power:
          type: number
          format: double
          description: Total voting power for majority calculation
    VoteResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        resolution_id:
          type: string
          format: uuid
        owner_id:
          type: string
          format: uuid
        unit_id:
          type: string
          format: uuid
        vote_choice:
          type: string
          enum:
          - Pour
          - Contre
          - Abstention
        voting_power:
          type: number
          format: double
        proxy_owner_id:
          type: string
          format: uuid
          nullable: true
        voted_at:
          type: string
          format: date-time
        is_proxy_vote:
          type: boolean
    CreateBoardMemberDto:
      type: object
      required:
      - owner_id
      - building_id
      - position
      - mandate_start
      - mandate_end
      - elected_by_meeting_id
      properties:
        owner_id:
          type: string
          format: uuid
          description: Co-owner (Owner) UUID
        building_id:
          type: string
          format: uuid
        position:
          type: string
          enum:
          - president
          - vice_president
          - treasurer
          - secretary
          - member
          description: Board position
        mandate_start:
          type: string
          format: date-time
          description: ISO 8601 datetime
        mandate_end:
          type: string
          format: date-time
          description: ISO 8601 datetime
        elected_by_meeting_id:
          type: string
          format: uuid
          description: AG meeting that elected this member
    RenewMandateDto:
      type: object
      required:
      - new_elected_by_meeting_id
      properties:
        new_elected_by_meeting_id:
          type: string
          format: uuid
          description: UUID of the new AG meeting that renews the mandate
    BoardMemberResponseDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        owner_id:
          type: string
          format: uuid
        building_id:
          type: string
          format: uuid
        position:
          type: string
        mandate_start:
          type: string
          format: date-time
        mandate_end:
          type: string
          format: date-time
        elected_by_meeting_id:
          type: string
          format: uuid
        is_active:
          type: boolean
          description: Whether the mandate is currently active
        days_remaining:
          type: integer
          description: Days remaining in the mandate
        expires_soon:
          type: boolean
          description: True if mandate expires within 60 days
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    BoardStatsDto:
      type: object
      properties:
        building_id:
          type: string
          format: uuid
        total_members:
          type: integer
        active_members:
          type: integer
        expiring_soon:
          type: integer
          description: Number of mandates expiring within 60 days
        has_president:
          type: boolean
        has_treasurer:
          type: boolean
    CreateBoardDecisionDto:
      type: object
      required:
      - building_id
      - meeting_id
      - subject
      - decision_text
      properties:
        building_id:
          type: string
          format: uuid
        meeting_id:
          type: string
          format: uuid
          description: AG meeting that made the decision
        subject:
          type: string
          minLength: 1
          example: Remplacement chaudiere commune
        decision_text:
          type: string
          minLength: 1
          example: Le conseil decide de remplacer la chaudiere avant fin mars
        deadline:
          type: string
          format: date-time
          nullable: true
          description: Optional deadline for completion
    UpdateBoardDecisionDto:
      type: object
      required:
      - status
      properties:
        status:
          type: string
          enum:
          - pending
          - in_progress
          - completed
          - overdue
          - cancelled
        notes:
          type: string
          nullable: true
    AddDecisionNotesDto:
      type: object
      required:
      - notes
      properties:
        notes:
          type: string
          minLength: 1
    BoardDecisionResponseDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        building_id:
          type: string
          format: uuid
        meeting_id:
          type: string
          format: uuid
        subject:
          type: string
        decision_text:
          type: string
        deadline:
          type: string
          format: date-time
          nullable: true
        status:
          type: string
        completed_at:
          type: string
          format: date-time
          nullable: true
        notes:
          type: string
          nullable: true
        is_overdue:
          type: boolean
          description: Whether deadline has passed
        days_until_deadline:
          type: integer
          nullable: true
          description: Days remaining until deadline
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    DecisionStatsDto:
      type: object
      properties:
        building_id:
          type: string
          format: uuid
        total_decisions:
          type: integer
        pending:
          type: integer
        in_progress:
          type: integer
        completed:
          type: integer
        overdue:
          type: integer
        cancelled:
          type: integer
    CreateConvocationRequest:
      type: object
      required:
      - building_id
      - meeting_id
      - meeting_type
      - meeting_date
      - language
      properties:
        building_id:
          type: string
          format: uuid
        meeting_id:
          type: string
          format: uuid
        meeting_type:
          type: string
          enum:
          - Ordinary
          - Extraordinary
          - SecondConvocation
          description: Type of AG meeting
        meeting_date:
          type: string
          format: date-time
          description: Date and time of the meeting
        language:
          type: string
          enum:
          - FR
          - NL
          - DE
          - EN
          description: Language for PDF generation
    ScheduleConvocationRequest:
      type: object
      required:
      - send_date
      properties:
        send_date:
          type: string
          format: date-time
          description: Scheduled date to send the convocation (must be before legal deadline)
    SendConvocationRequest:
      type: object
      required:
      - recipient_owner_ids
      properties:
        recipient_owner_ids:
          type: array
          items:
            type: string
            format: uuid
          description: List of owner UUIDs to send the convocation to
    ConvocationResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organization_id:
          type: string
          format: uuid
        building_id:
          type: string
          format: uuid
        meeting_id:
          type: string
          format: uuid
        meeting_type:
          type: string
        meeting_date:
          type: string
          format: date-time
        status:
          type: string
          enum:
          - Draft
          - Scheduled
          - Sent
          - Cancelled
        minimum_send_date:
          type: string
          format: date-time
          description: Legal minimum date to send the convocation
        actual_send_date:
          type: string
          format: date-time
          nullable: true
        scheduled_send_date:
          type: string
          format: date-time
          nullable: true
        pdf_file_path:
          type: string
          nullable: true
        language:
          type: string
        total_recipients:
          type: integer
        opened_count:
          type: integer
        will_attend_count:
          type: integer
        will_not_attend_count:
          type: integer
        opening_rate:
          type: number
          format: double
          description: Percentage of recipients who opened the email
        attendance_rate:
          type: number
          format: double
          description: Percentage of recipients who will attend
        days_until_meeting:
          type: integer
        respects_legal_deadline:
          type: boolean
          description: Whether the convocation was sent before the legal deadline
        reminder_sent_at:
          type: string
          format: date-time
          nullable: true
        first_meeting_id:
          type: string
          format: uuid
          nullable: true
          description: For second convocations, the first meeting ID (Art. 3.87 par.5 CC)
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        created_by:
          type: string
          format: uuid
    UpdateAttendanceRequest:
      type: object
      required:
      - attendance_status
      properties:
        attendance_status:
          type: string
          enum:
          - Pending
          - WillAttend
          - WillNotAttend
          - Attended
          - DidNotAttend
    SetProxyRequest:
      type: object
      required:
      - proxy_owner_id
      properties:
        proxy_owner_id:
          type: string
          format: uuid
          description: Owner UUID who will act as proxy (procuration belge)
    ConvocationRecipientResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        convocation_id:
          type: string
          format: uuid
        owner_id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        email_sent_at:
          type: string
          format: date-time
          nullable: true
        email_opened_at:
          type: string
          format: date-time
          nullable: true
        email_failed:
          type: boolean
        email_failure_reason:
          type: string
          nullable: true
        reminder_sent_at:
          type: string
          format: date-time
          nullable: true
        reminder_opened_at:
          type: string
          format: date-time
          nullable: true
        attendance_status:
          type: string
          enum:
          - Pending
          - WillAttend
          - WillNotAttend
          - Attended
          - DidNotAttend
        attendance_updated_at:
          type: string
          format: date-time
          nullable: true
        proxy_owner_id:
          type: string
          format: uuid
          nullable: true
        has_opened_email:
          type: boolean
        has_opened_reminder:
          type: boolean
        needs_reminder:
          type: boolean
        has_confirmed_attendance:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    RecipientTrackingSummaryResponse:
      type: object
      properties:
        total_count:
          type: integer
        opened_count:
          type: integer
        will_attend_count:
          type: integer
        will_not_attend_count:
          type: integer
        attended_count:
          type: integer
        did_not_attend_count:
          type: integer
        pending_count:
          type: integer
        failed_email_count:
          type: integer
        opening_rate:
          type: number
          format: double
        attendance_rate:
          type: number
          format: double
    CreateQuoteDto:
      type: object
      required:
      - building_id
      - contractor_id
      - project_title
      - project_description
      - amount_excl_vat
      - vat_rate
      - validity_date
      - estimated_duration_days
      - warranty_years
      properties:
        building_id:
          type: string
          format: uuid
        contractor_id:
          type: string
          format: uuid
        project_title:
          type: string
          example: Renovation toiture
        project_description:
          type: string
          example: Remplacement tuiles et etancheite
        amount_excl_vat:
          type: string
          format: decimal
          example: '5000.00'
        vat_rate:
          type: string
          format: decimal
          example: '0.21'
          description: Belgian VAT rate (0.06 for renovations, 0.21 for new construction)
        validity_date:
          type: string
          format: date-time
          description: Quote expiration date
        estimated_start_date:
          type: string
          format: date-time
          nullable: true
        estimated_duration_days:
          type: integer
          description: Estimated work duration in days
          example: 14
        warranty_years:
          type: integer
          description: Warranty period (Belgian standard 2 or 10 years)
          example: 10
    QuoteDecisionDto:
      type: object
      properties:
        decision_notes:
          type: string
          nullable: true
          description: Optional notes for the decision audit trail
    QuoteComparisonRequestDto:
      type: object
      required:
      - quote_ids
      properties:
        quote_ids:
          type: array
          items:
            type: string
            format: uuid
          minItems: 2
          description: List of quote UUIDs to compare (Belgian law requires minimum 3 for works over 5000 EUR)
    QuoteResponseDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        building_id:
          type: string
          format: uuid
        contractor_id:
          type: string
          format: uuid
        project_title:
          type: string
        project_description:
          type: string
        amount_excl_vat:
          type: string
          description: Decimal as string
        vat_rate:
          type: string
          description: Decimal as string
        amount_incl_vat:
          type: string
          description: Computed amount including VAT
        validity_date:
          type: string
          format: date-time
        estimated_start_date:
          type: string
          format: date-time
          nullable: true
        estimated_duration_days:
          type: integer
        warranty_years:
          type: integer
        contractor_rating:
          type: integer
          nullable: true
          minimum: 0
          maximum: 100
        status:
          type: string
          enum:
          - Requested
          - Received
          - UnderReview
          - Accepted
          - Rejected
          - Expired
          - Withdrawn
        is_expired:
          type: boolean
        requested_at:
          type: string
          format: date-time
        submitted_at:
          type: string
          format: date-time
          nullable: true
        reviewed_at:
          type: string
          format: date-time
          nullable: true
        decision_at:
          type: string
          format: date-time
          nullable: true
        decision_by:
          type: string
          format: uuid
          nullable: true
        decision_notes:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    QuoteComparisonResponseDto:
      type: object
      properties:
        project_title:
          type: string
        building_id:
          type: string
          format: uuid
        total_quotes:
          type: integer
        comparison_items:
          type: array
          items:
            type: object
            properties:
              quote:
                $ref: '#/components/schemas/QuoteResponseDto'
              score:
                type: object
                nullable: true
                properties:
                  quote_id:
                    type: string
                    format: uuid
                  total_score:
                    type: number
                    format: float
                  price_score:
                    type: number
                    format: float
                  delay_score:
                    type: number
                    format: float
                  warranty_score:
                    type: number
                    format: float
                  reputation_score:
                    type: number
                    format: float
              rank:
                type: integer
                description: Ranking position (1 = best)
        min_price:
          type: string
          description: Minimum price (decimal as string)
        max_price:
          type: string
          description: Maximum price (decimal as string)
        avg_price:
          type: string
          description: Average price (decimal as string)
        min_duration_days:
          type: integer
        max_duration_days:
          type: integer
        avg_duration_days:
          type: number
          format: float
        recommended_quote_id:
          type: string
          format: uuid
          nullable: true
          description: Top-ranked quote ID (recommendation)
    CreatePollDto:
      type: object
      required:
      - building_id
      - title
      - poll_type
      - options
      - ends_at
      properties:
        building_id:
          type: string
          format: uuid
        title:
          type: string
          maxLength: 255
          example: Should we repaint the lobby?
        description:
          type: string
          nullable: true
        poll_type:
          type: string
          enum:
          - yes_no
          - multiple_choice
          - rating
          - open_ended
        options:
          type: array
          items:
            type: object
            required:
            - option_text
            - display_order
            properties:
              id:
                type: string
                format: uuid
                nullable: true
                description: Optional UUID, auto-generated if not provided
              option_text:
                type: string
              attachment_url:
                type: string
                nullable: true
              display_order:
                type: integer
        is_anonymous:
          type: boolean
          default: false
        allow_multiple_votes:
          type: boolean
          default: false
        require_all_owners:
          type: boolean
          default: false
        ends_at:
          type: string
          format: date-time
          description: Poll end date (ISO 8601)
    UpdatePollDto:
      type: object
      properties:
        title:
          type: string
          maxLength: 255
          nullable: true
        description:
          type: string
          nullable: true
        options:
          type: array
          nullable: true
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
                nullable: true
              option_text:
                type: string
              attachment_url:
                type: string
                nullable: true
              display_order:
                type: integer
        is_anonymous:
          type: boolean
          nullable: true
        allow_multiple_votes:
          type: boolean
          nullable: true
        require_all_owners:
          type: boolean
          nullable: true
        ends_at:
          type: string
          format: date-time
          nullable: true
    CastVoteDto:
      type: object
      required:
      - poll_id
      properties:
        poll_id:
          type: string
          format: uuid
        selected_option_ids:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
          description: For YesNo/MultipleChoice polls
        rating_value:
          type: integer
          minimum: 1
          maximum: 5
          nullable: true
          description: For Rating polls
        open_text:
          type: string
          nullable: true
          description: For OpenEnded polls
    PollResponseDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        building_id:
          type: string
          format: uuid
        created_by:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
          nullable: true
        poll_type:
          type: string
          enum:
          - YesNo
          - MultipleChoice
          - Rating
          - OpenEnded
        options:
          type: array
          items:
            $ref: '#/components/schemas/PollOptionDto'
        is_anonymous:
          type: boolean
        allow_multiple_votes:
          type: boolean
        require_all_owners:
          type: boolean
        starts_at:
          type: string
          format: date-time
        ends_at:
          type: string
          format: date-time
        status:
          type: string
          enum:
          - Draft
          - Active
          - Closed
          - Cancelled
        total_eligible_voters:
          type: integer
        total_votes_cast:
          type: integer
        participation_rate:
          type: number
          format: double
        is_active:
          type: boolean
        is_ended:
          type: boolean
        winning_option:
          $ref: '#/components/schemas/PollOptionDto'
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    PollOptionDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        option_text:
          type: string
        attachment_url:
          type: string
          nullable: true
        vote_count:
          type: integer
        vote_percentage:
          type: number
          format: double
        display_order:
          type: integer
    PollListResponseDto:
      type: object
      properties:
        polls:
          type: array
          items:
            $ref: '#/components/schemas/PollResponseDto'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
        page_size:
          type: integer
          format: int64
    PollResultsDto:
      type: object
      properties:
        poll_id:
          type: string
          format: uuid
        total_votes_cast:
          type: integer
        total_eligible_voters:
          type: integer
        participation_rate:
          type: number
          format: double
        options:
          type: array
          items:
            $ref: '#/components/schemas/PollOptionDto'
        winning_option:
          $ref: '#/components/schemas/PollOptionDto'
          nullable: true
    CreateLocalExchangeRequest:
      type: object
      required:
      - building_id
      - exchange_type
      - title
      - description
      - credits
      properties:
        building_id:
          type: string
          format: uuid
        exchange_type:
          type: string
          enum:
          - Service
          - ObjectLoan
          - SharedPurchase
        title:
          type: string
          example: Plumbing help
        description:
          type: string
          example: Can help fix leaky faucets
        credits:
          type: integer
          minimum: 1
          maximum: 100
          example: 2
    RequestExchangeRequest:
      type: object
      description: Empty body - requester ID comes from JWT
    CompleteExchangeRequest:
      type: object
      description: Empty body - actor ID comes from JWT
    CancelExchangeRequest:
      type: object
      properties:
        reason:
          type: string
          example: Schedule conflict
    RateExchangeRequest:
      type: object
      required:
      - rating
      properties:
        rating:
          type: integer
          minimum: 1
          maximum: 5
          example: 4
    LocalExchangeResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        building_id:
          type: string
          format: uuid
        provider_id:
          type: string
          format: uuid
        provider_name:
          type: string
        requester_id:
          type: string
          format: uuid
          nullable: true
        requester_name:
          type: string
          nullable: true
        exchange_type:
          type: string
          enum:
          - Service
          - ObjectLoan
          - SharedPurchase
        title:
          type: string
        description:
          type: string
        credits:
          type: integer
        status:
          type: string
          enum:
          - Offered
          - Requested
          - InProgress
          - Completed
          - Cancelled
        offered_at:
          type: string
          format: date-time
        requested_at:
          type: string
          format: date-time
          nullable: true
        started_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true
        cancelled_at:
          type: string
          format: date-time
          nullable: true
        cancellation_reason:
          type: string
          nullable: true
        provider_rating:
          type: integer
          nullable: true
        requester_rating:
          type: integer
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    OwnerCreditBalanceResponse:
      type: object
      properties:
        owner_id:
          type: string
          format: uuid
        owner_name:
          type: string
        building_id:
          type: string
          format: uuid
        credits_earned:
          type: integer
        credits_spent:
          type: integer
        balance:
          type: integer
        credit_status:
          type: string
          enum:
          - Positive
          - Balanced
          - Negative
        total_exchanges:
          type: integer
        average_rating:
          type: number
          format: float
          nullable: true
        participation_level:
          type: string
          enum:
          - New
          - Beginner
          - Active
          - Veteran
          - Expert
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    SelStatisticsResponse:
      type: object
      properties:
        building_id:
          type: string
          format: uuid
        total_exchanges:
          type: integer
        active_exchanges:
          type: integer
        completed_exchanges:
          type: integer
        total_credits_exchanged:
          type: integer
        active_participants:
          type: integer
        average_exchange_rating:
          type: number
          format: float
          nullable: true
        most_popular_exchange_type:
          type: string
          nullable: true
    OwnerExchangeSummaryResponse:
      type: object
      properties:
        owner_id:
          type: string
          format: uuid
        owner_name:
          type: string
        as_provider:
          type: integer
        as_requester:
          type: integer
        total_exchanges:
          type: integer
        average_rating:
          type: number
          format: float
          nullable: true
        recent_exchanges:
          type: array
          items:
            $ref: '#/components/schemas/LocalExchangeResponse'
    CreateNoticeRequest:
      type: object
      required:
      - building_id
      - notice_type
      - category
      - title
      - content
      properties:
        building_id:
          type: string
          format: uuid
        notice_type:
          type: string
          enum:
          - Announcement
          - Event
          - LostAndFound
          - ClassifiedAd
        category:
          type: string
          enum:
          - General
          - Maintenance
          - Social
          - Security
          - Environment
          - Parking
          - Other
        title:
          type: string
          example: Building maintenance scheduled
        content:
          type: string
          example: The elevator will be serviced on Monday.
        event_date:
          type: string
          format: date-time
          nullable: true
        event_location:
          type: string
          nullable: true
        contact_info:
          type: string
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true
    UpdateNoticeRequest:
      type: object
      properties:
        title:
          type: string
        content:
          type: string
        category:
          type: string
          enum:
          - General
          - Maintenance
          - Social
          - Security
          - Environment
          - Parking
          - Other
        event_date:
          type: string
          format: date-time
          nullable: true
        event_location:
          type: string
          nullable: true
        contact_info:
          type: string
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true
    SetExpirationRequest:
      type: object
      properties:
        expires_at:
          type: string
          format: date-time
          nullable: true
    NoticeResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        building_id:
          type: string
          format: uuid
        author_id:
          type: string
          format: uuid
        author_name:
          type: string
        notice_type:
          type: string
          enum:
          - Announcement
          - Event
          - LostAndFound
          - ClassifiedAd
        category:
          type: string
          enum:
          - General
          - Maintenance
          - Social
          - Security
          - Environment
          - Parking
          - Other
        title:
          type: string
        content:
          type: string
        status:
          type: string
          enum:
          - Draft
          - Published
          - Archived
          - Expired
        is_pinned:
          type: boolean
        published_at:
          type: string
          format: date-time
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true
        archived_at:
          type: string
          format: date-time
          nullable: true
        event_date:
          type: string
          format: date-time
          nullable: true
        event_location:
          type: string
          nullable: true
        contact_info:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        is_expired:
          type: boolean
        days_until_event:
          type: integer
          format: int64
          nullable: true
    CreateSkillRequest:
      type: object
      required:
      - building_id
      - skill_category
      - skill_name
      - expertise_level
      - description
      - is_available_for_help
      properties:
        building_id:
          type: string
          format: uuid
        skill_category:
          type: string
          enum:
          - HomeRepair
          - Languages
          - Technology
          - Education
          - Arts
          - Sports
          - Cooking
          - Gardening
          - Health
          - Legal
          - Financial
          - PetCare
          - Other
        skill_name:
          type: string
          example: Web Development
        expertise_level:
          type: string
          enum:
          - Beginner
          - Intermediate
          - Advanced
          - Expert
        description:
          type: string
          example: Full-stack web development
        is_available_for_help:
          type: boolean
        hourly_rate_credits:
          type: integer
          minimum: 0
          maximum: 100
          nullable: true
        years_of_experience:
          type: integer
          nullable: true
        certifications:
          type: string
          nullable: true
    UpdateSkillRequest:
      type: object
      properties:
        skill_name:
          type: string
        expertise_level:
          type: string
          enum:
          - Beginner
          - Intermediate
          - Advanced
          - Expert
        description:
          type: string
        is_available_for_help:
          type: boolean
        hourly_rate_credits:
          type: integer
          nullable: true
        years_of_experience:
          type: integer
          nullable: true
        certifications:
          type: string
          nullable: true
    SkillResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        owner_id:
          type: string
          format: uuid
        owner_name:
          type: string
        building_id:
          type: string
          format: uuid
        skill_category:
          type: string
          enum:
          - HomeRepair
          - Languages
          - Technology
          - Education
          - Arts
          - Sports
          - Cooking
          - Gardening
          - Health
          - Legal
          - Financial
          - PetCare
          - Other
        skill_name:
          type: string
        expertise_level:
          type: string
          enum:
          - Beginner
          - Intermediate
          - Advanced
          - Expert
        description:
          type: string
        is_available_for_help:
          type: boolean
        hourly_rate_credits:
          type: integer
          nullable: true
        years_of_experience:
          type: integer
          nullable: true
        certifications:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        is_free:
          type: boolean
        is_professional:
          type: boolean
    SkillStatisticsResponse:
      type: object
      properties:
        total_skills:
          type: integer
          format: int64
        available_skills:
          type: integer
          format: int64
        free_skills:
          type: integer
          format: int64
        paid_skills:
          type: integer
          format: int64
        professional_skills:
          type: integer
          format: int64
        skills_by_category:
          type: array
          items:
            type: object
            properties:
              category:
                type: string
              count:
                type: integer
                format: int64
        skills_by_expertise:
          type: array
          items:
            type: object
            properties:
              level:
                type: string
              count:
                type: integer
                format: int64
    CreateSharedObjectRequest:
      type: object
      required:
      - building_id
      - object_category
      - object_name
      - description
      - condition
      - is_available
      properties:
        building_id:
          type: string
          format: uuid
        object_category:
          type: string
          enum:
          - Tools
          - Books
          - Electronics
          - Sports
          - Gardening
          - Kitchen
          - Baby
          - Other
        object_name:
          type: string
          example: Power Drill
        description:
          type: string
          example: 18V cordless drill
        condition:
          type: string
          enum:
          - New
          - Excellent
          - Good
          - Fair
          - Poor
        is_available:
          type: boolean
        rental_credits_per_day:
          type: integer
          minimum: 0
          maximum: 20
          nullable: true
        deposit_credits:
          type: integer
          minimum: 0
          maximum: 100
          nullable: true
        borrowing_duration_days:
          type: integer
          minimum: 1
          maximum: 90
          nullable: true
        photos:
          type: array
          items:
            type: string
          nullable: true
        location_details:
          type: string
          nullable: true
        usage_instructions:
          type: string
          nullable: true
    UpdateSharedObjectRequest:
      type: object
      properties:
        object_name:
          type: string
        description:
          type: string
        condition:
          type: string
          enum:
          - New
          - Excellent
          - Good
          - Fair
          - Poor
        is_available:
          type: boolean
        rental_credits_per_day:
          type: integer
          nullable: true
        deposit_credits:
          type: integer
          nullable: true
        borrowing_duration_days:
          type: integer
          nullable: true
        photos:
          type: array
          items:
            type: string
          nullable: true
        location_details:
          type: string
          nullable: true
        usage_instructions:
          type: string
          nullable: true
    BorrowObjectRequest:
      type: object
      properties:
        duration_days:
          type: integer
          nullable: true
          description: Override default borrowing duration
    SharedObjectResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        owner_id:
          type: string
          format: uuid
        owner_name:
          type: string
        building_id:
          type: string
          format: uuid
        object_category:
          type: string
          enum:
          - Tools
          - Books
          - Electronics
          - Sports
          - Gardening
          - Kitchen
          - Baby
          - Other
        object_name:
          type: string
        description:
          type: string
        condition:
          type: string
          enum:
          - New
          - Excellent
          - Good
          - Fair
          - Poor
        is_available:
          type: boolean
        rental_credits_per_day:
          type: integer
          nullable: true
        deposit_credits:
          type: integer
          nullable: true
        borrowing_duration_days:
          type: integer
          nullable: true
        current_borrower_id:
          type: string
          format: uuid
          nullable: true
        current_borrower_name:
          type: string
          nullable: true
        borrowed_at:
          type: string
          format: date-time
          nullable: true
        due_back_at:
          type: string
          format: date-time
          nullable: true
        photos:
          type: array
          items:
            type: string
          nullable: true
        location_details:
          type: string
          nullable: true
        usage_instructions:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        is_free:
          type: boolean
        is_borrowed:
          type: boolean
        is_overdue:
          type: boolean
        days_overdue:
          type: integer
    SharedObjectStatisticsResponse:
      type: object
      properties:
        total_objects:
          type: integer
          format: int64
        available_objects:
          type: integer
          format: int64
        borrowed_objects:
          type: integer
          format: int64
        overdue_objects:
          type: integer
          format: int64
        free_objects:
          type: integer
          format: int64
        paid_objects:
          type: integer
          format: int64
        objects_by_category:
          type: array
          items:
            type: object
            properties:
              category:
                type: string
              count:
                type: integer
                format: int64
    CreateResourceBookingRequest:
      type: object
      required:
      - building_id
      - resource_type
      - resource_name
      - start_time
      - end_time
      properties:
        building_id:
          type: string
          format: uuid
        resource_type:
          type: string
          enum:
          - MeetingRoom
          - LaundryRoom
          - Gym
          - PartyRoom
          - GuestParking
          - Barbecue
          - Garden
          - RoofTerrace
          - Storage
          - Other
        resource_name:
          type: string
          example: Meeting Room A
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        notes:
          type: string
          nullable: true
        recurring_pattern:
          type: string
          enum:
          - None
          - Daily
          - Weekly
          - Biweekly
          - Monthly
          default: None
        recurrence_end_date:
          type: string
          format: date-time
          nullable: true
        max_duration_hours:
          type: integer
          format: int64
          nullable: true
        max_advance_days:
          type: integer
          format: int64
          nullable: true
    UpdateResourceBookingRequest:
      type: object
      properties:
        resource_name:
          type: string
        notes:
          type: string
    ResourceBookingResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        building_id:
          type: string
          format: uuid
        resource_type:
          type: string
          enum:
          - MeetingRoom
          - LaundryRoom
          - Gym
          - PartyRoom
          - GuestParking
          - Barbecue
          - Garden
          - RoofTerrace
          - Storage
          - Other
        resource_name:
          type: string
        booked_by:
          type: string
          format: uuid
        booked_by_name:
          type: string
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        status:
          type: string
          enum:
          - Pending
          - Confirmed
          - Completed
          - Cancelled
          - NoShow
        notes:
          type: string
          nullable: true
        recurring_pattern:
          type: string
          enum:
          - None
          - Daily
          - Weekly
          - Biweekly
          - Monthly
        recurrence_end_date:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        duration_hours:
          type: number
          format: double
        is_active:
          type: boolean
        is_past:
          type: boolean
        is_future:
          type: boolean
        is_modifiable:
          type: boolean
        is_recurring:
          type: boolean
    BookingStatisticsResponse:
      type: object
      properties:
        building_id:
          type: string
          format: uuid
        total_bookings:
          type: integer
          format: int64
        confirmed_bookings:
          type: integer
          format: int64
        pending_bookings:
          type: integer
          format: int64
        completed_bookings:
          type: integer
          format: int64
        cancelled_bookings:
          type: integer
          format: int64
        no_show_bookings:
          type: integer
          format: int64
        active_bookings:
          type: integer
          format: int64
        upcoming_bookings:
          type: integer
          format: int64
        total_hours_booked:
          type: number
          format: double
        most_popular_resource:
          type: string
          nullable: true
    CreateAchievementRequest:
      type: object
      required:
      - organization_id
      - category
      - tier
      - name
      - description
      - icon
      - points_value
      - requirements
      - is_secret
      - is_repeatable
      - display_order
      properties:
        organization_id:
          type: string
          format: uuid
        category:
          type: string
          enum:
          - Community
          - Sel
          - Booking
          - Sharing
          - Skills
          - Notice
          - Governance
          - Milestone
        tier:
          type: string
          enum:
          - Bronze
          - Silver
          - Gold
          - Platinum
          - Diamond
        name:
          type: string
          example: First Booking
          minLength: 3
          maxLength: 100
        description:
          type: string
          example: Made your first resource booking
          minLength: 10
          maxLength: 500
        icon:
          type: string
          example: 🎉
        points_value:
          type: integer
          minimum: 0
          maximum: 1000
        requirements:
          type: string
          description: JSON criteria
          example: '{"action":"booking_created","count":1}'
        is_secret:
          type: boolean
        is_repeatable:
          type: boolean
        display_order:
          type: integer
    UpdateAchievementRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        category:
          type: string
          enum:
          - Community
          - Sel
          - Booking
          - Sharing
          - Skills
          - Notice
          - Governance
          - Milestone
        tier:
          type: string
          enum:
          - Bronze
          - Silver
          - Gold
          - Platinum
          - Diamond
        icon:
          type: string
        points_value:
          type: integer
        requirements:
          type: string
        is_secret:
          type: boolean
        is_repeatable:
          type: boolean
        display_order:
          type: integer
    AchievementResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organization_id:
          type: string
          format: uuid
        category:
          type: string
          enum:
          - Community
          - Sel
          - Booking
          - Sharing
          - Skills
          - Notice
          - Governance
          - Milestone
        tier:
          type: string
          enum:
          - Bronze
          - Silver
          - Gold
          - Platinum
          - Diamond
        name:
          type: string
        description:
          type: string
        icon:
          type: string
        points_value:
          type: integer
        requirements:
          type: string
        is_secret:
          type: boolean
        is_repeatable:
          type: boolean
        display_order:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    AwardAchievementRequest:
      type: object
      required:
      - achievement_id
      properties:
        achievement_id:
          type: string
          format: uuid
        progress_data:
          type: string
          nullable: true
          description: JSON progress data
    UserAchievementResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        achievement_id:
          type: string
          format: uuid
        earned_at:
          type: string
          format: date-time
        progress_data:
          type: string
          nullable: true
        times_earned:
          type: integer
        achievement:
          $ref: '#/components/schemas/AchievementResponse'
    CreateChallengeRequest:
      type: object
      required:
      - organization_id
      - challenge_type
      - title
      - description
      - icon
      - start_date
      - end_date
      - target_metric
      - target_value
      - reward_points
      properties:
        organization_id:
          type: string
          format: uuid
        building_id:
          type: string
          format: uuid
          nullable: true
        challenge_type:
          type: string
          enum:
          - Individual
          - Team
          - Building
        title:
          type: string
          minLength: 3
          maxLength: 100
          example: Booking Week
        description:
          type: string
          minLength: 10
          maxLength: 1000
          example: Make 5 resource bookings this week
        icon:
          type: string
        start_date:
          type: string
          format: date-time
        end_date:
          type: string
          format: date-time
        target_metric:
          type: string
          example: bookings_created
        target_value:
          type: integer
          example: 5
        reward_points:
          type: integer
          minimum: 0
          maximum: 10000
          example: 50
    UpdateChallengeRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        icon:
          type: string
        start_date:
          type: string
          format: date-time
        end_date:
          type: string
          format: date-time
        target_value:
          type: integer
        reward_points:
          type: integer
    ChallengeResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organization_id:
          type: string
          format: uuid
        building_id:
          type: string
          format: uuid
          nullable: true
        challenge_type:
          type: string
          enum:
          - Individual
          - Team
          - Building
        status:
          type: string
          enum:
          - Draft
          - Active
          - Completed
          - Cancelled
        title:
          type: string
        description:
          type: string
        icon:
          type: string
        start_date:
          type: string
          format: date-time
        end_date:
          type: string
          format: date-time
        target_metric:
          type: string
        target_value:
          type: integer
        reward_points:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        duration_days:
          type: integer
          format: int64
        is_currently_active:
          type: boolean
        has_ended:
          type: boolean
    ChallengeProgressResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        challenge_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        current_value:
          type: integer
        completed:
          type: boolean
        completed_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        challenge:
          $ref: '#/components/schemas/ChallengeResponse'
        completion_percentage:
          type: number
          format: double
    IncrementProgressRequest:
      type: object
      required:
      - increment
      properties:
        increment:
          type: integer
          example: 1
    LeaderboardResponse:
      type: object
      properties:
        organization_id:
          type: string
          format: uuid
        building_id:
          type: string
          format: uuid
          nullable: true
        entries:
          type: array
          items:
            $ref: '#/components/schemas/LeaderboardEntryResponse'
        total_users:
          type: integer
    LeaderboardEntryResponse:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        username:
          type: string
        total_points:
          type: integer
        achievements_count:
          type: integer
        challenges_completed:
          type: integer
        rank:
          type: integer
    UserGamificationStatsResponse:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        total_points:
          type: integer
        achievements_earned:
          type: integer
        achievements_available:
          type: integer
        challenges_completed:
          type: integer
        challenges_active:
          type: integer
        rank:
          type: integer
          nullable: true
        recent_achievements:
          type: array
          items:
            $ref: '#/components/schemas/UserAchievementResponse'
    CreateEnergyCampaignRequest:
      type: object
      required:
      - campaign_name
      - deadline_participation
      - energy_types
      properties:
        building_id:
          type: string
          format: uuid
          nullable: true
        campaign_name:
          type: string
          example: Winter 2026 Group Buy
        deadline_participation:
          type: string
          format: date-time
        energy_types:
          type: array
          items:
            type: string
            enum:
            - Electricity
            - Gas
            - Dual
        contract_duration_months:
          type: integer
          nullable: true
        contract_type:
          type: string
          enum:
          - Fixed
          - Variable
          - Dynamic
          nullable: true
    UpdateCampaignStatusRequest:
      type: object
      required:
      - status
      properties:
        status:
          type: string
          enum:
          - CollectingData
          - Negotiating
          - Voting
          - OfferSelected
          - Finalized
          - Cancelled
    EnergyCampaignResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organization_id:
          type: string
          format: uuid
        building_id:
          type: string
          format: uuid
          nullable: true
        campaign_name:
          type: string
        campaign_type:
          type: string
        status:
          type: string
          enum:
          - CollectingData
          - Negotiating
          - Voting
          - OfferSelected
          - Finalized
          - Cancelled
        deadline_participation:
          type: string
          format: date-time
        deadline_vote:
          type: string
          format: date-time
          nullable: true
        contract_start_date:
          type: string
          format: date-time
          nullable: true
        energy_types:
          type: array
          items:
            type: string
        contract_duration_months:
          type: integer
        contract_type:
          type: string
        total_participants:
          type: integer
        total_kwh_electricity:
          type: number
          format: double
          nullable: true
        total_kwh_gas:
          type: number
          format: double
          nullable: true
        avg_kwh_per_unit:
          type: number
          format: double
          nullable: true
        offers_received:
          type: array
          items:
            $ref: '#/components/schemas/ProviderOfferResponse'
        selected_offer_id:
          type: string
          format: uuid
          nullable: true
        estimated_savings_pct:
          type: number
          format: double
          nullable: true
        created_by:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    CampaignStatsResponse:
      type: object
      properties:
        total_participants:
          type: integer
        participation_rate:
          type: number
          format: double
        total_kwh_electricity:
          type: number
          format: double
          nullable: true
        total_kwh_gas:
          type: number
          format: double
          nullable: true
        avg_kwh_per_unit:
          type: number
          format: double
          nullable: true
        can_negotiate:
          type: boolean
        estimated_savings_pct:
          type: number
          format: double
          nullable: true
        k_anonymity_met:
          type: boolean
          description: True if >= 5 participants (GDPR k-anonymity)
    CreateProviderOfferRequest:
      type: object
      required:
      - provider_name
      - fixed_monthly_fee
      - green_energy_pct
      - contract_duration_months
      - estimated_savings_pct
      - offer_valid_until
      properties:
        provider_name:
          type: string
          example: Engie
        price_kwh_electricity:
          type: number
          format: double
          nullable: true
        price_kwh_gas:
          type: number
          format: double
          nullable: true
        fixed_monthly_fee:
          type: number
          format: double
        green_energy_pct:
          type: number
          format: double
        contract_duration_months:
          type: integer
        estimated_savings_pct:
          type: number
          format: double
        offer_valid_until:
          type: string
          format: date-time
    ProviderOfferResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        campaign_id:
          type: string
          format: uuid
        provider_name:
          type: string
        price_kwh_electricity:
          type: number
          format: double
          nullable: true
        price_kwh_gas:
          type: number
          format: double
          nullable: true
        fixed_monthly_fee:
          type: number
          format: double
        green_energy_pct:
          type: number
          format: double
        green_score:
          type: integer
          description: Calculated 0/5/10
        contract_duration_months:
          type: integer
        estimated_savings_pct:
          type: number
          format: double
        offer_valid_until:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    SelectOfferRequest:
      type: object
      required:
      - offer_id
      properties:
        offer_id:
          type: string
          format: uuid
        poll_id:
          type: string
          format: uuid
          nullable: true
          description: Reference to voting poll
    UploadEnergyBillRequest:
      type: object
      required:
      - campaign_id
      - unit_id
      - building_id
      - bill_period_start
      - bill_period_end
      - total_kwh
      - energy_type
      - postal_code
      - file_hash
      - file_path
      - consent
      properties:
        campaign_id:
          type: string
          format: uuid
        unit_id:
          type: string
          format: uuid
        building_id:
          type: string
          format: uuid
        bill_period_start:
          type: string
          format: date-time
        bill_period_end:
          type: string
          format: date-time
        total_kwh:
          type: number
          format: double
          description: Plain text (will be encrypted)
        energy_type:
          type: string
          enum:
          - Electricity
          - Gas
          - Dual
        provider:
          type: string
          nullable: true
        postal_code:
          type: string
          description: 4-digit Belgian postal code
          example: '1000'
        file_hash:
          type: string
          description: SHA-256 of uploaded PDF
        file_path:
          type: string
[...]
