---
import Layout from '../../layouts/Layout.astro';
import SyndicDashboard from '../../components/dashboards/SyndicDashboard.svelte';
---

<Layout title="Dashboard Syndic - KoproGo">
	<main class="container mx-auto px-4 py-8">
		<SyndicDashboard client:load />
	</main>
</Layout>
